.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/workspace.xml
.idea/libraries/Maven__avalon_framework_avalon_framework_4_1_3.xml
.idea/libraries/Maven__com_google_guava_guava_17_0.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_10.xml
.idea/libraries/Maven__commons_io_commons_io_1_3_2.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_1.xml
.idea/libraries/Maven__javax_activation_activation_1_1.xml
.idea/libraries/Maven__javax_mail_mail_1_4_7.xml
.idea/libraries/Maven__javax_servlet_servlet_api_2_3.xml
.idea/libraries/Maven__junit_junit_3_8_1.xml
.idea/libraries/Maven__log4j_log4j_1_2_12.xml
.idea/libraries/Maven__logkit_logkit_1_0_1.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_4_1.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_1.xml
.idea/libraries/Maven__org_htmlparser_htmllexer_2_1.xml
.idea/libraries/Maven__org_htmlparser_htmlparser_2_1.xml
.idea/libraries/Maven__org_jsoup_jsoup_1_8_2.xml
.idea/libraries/Maven__org_projectlombok_lombok_1_16_16.xml
LazyShop.iml
lazyshop-admin.iml
lazyshop-common.iml
lazyshop-service.iml
lazyshop-spider.iml
lazyshop-common/target/classes/org/lazy4j/shop/common/utils/net/HttpClientUtil.class
lazyshop-common/target/classes/org/lazy4j/shop/common/utils/net/HttpHeader.class
lazyshop-common/target/classes/org/lazy4j/shop/common/utils/net/URLPool.class
lazyshop-spider/target/classes/org/lazy4j/shop/spider/lianjia/LianJiaClient.class
lazyshop-spider/target/classes/org/lazy4j/shop/spider/lianjia/LianJiaDocParser.class
lazyshop-spider/target/classes/org/lazy4j/shop/spider/lianjia/LianJiaHouse$1.class
lazyshop-spider/target/classes/org/lazy4j/shop/spider/lianjia/LianJiaHouse$LianJiaHouseBuilder.class
lazyshop-spider/target/classes/org/lazy4j/shop/spider/lianjia/LianJiaHouse.class
lazyshop-spider/target/classes/org/lazy4j/shop/spider/lianjia/LianJiaParams.class
lazyshop-spider/target/classes/org/lazy4j/shop/spider/lianjia/LianJiaURLParser.class
lazyshop-spider/target/test-classes/lazyshop/AppTest.class
lazyshop-web/lazyshop-web.iml
